@model SelectList

@if (!ViewBag.IsEmpty)
{
    <tr class="ingredient">
        <td>
            <input type="text" class="hidden ingredient-name" value="@ViewBag.IngredientName" name="ingredientNames">
        </td>
        <td>@ViewBag.IngredientName</td>
        <td>
            <select class="form-control input-sm ingredient-measure" name="measures">
                @foreach (var item in Model)
                {
                    if (ViewBag.Measure != null && item.Value == ViewBag.Measure.ToString())
                    {
                        <option value="@item.Value" selected>@item.Text</option>
                    }
                    else
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                }
            </select>
        </td>
        <td>
            <input type="number" min="0" placeholder="Количество ..." value="@ViewBag.Amount" class="ingredient-amount form-control input-sm" name="amounts">
        </td>
        <td>
            <a href="javascript:void(0)" class="btn btn-xs btn-default ingredient-delete pull-right">
                <i class="glyphicon glyphicon-remove"></i>
            </a>
        </td>
    </tr><!-- /btn-group -->
}
