@model AspRecipeStorage.Models.Recipe

@{
    ViewBag.Title = "Добавление нового рецепта";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="panel panel-default">
    <div class="panel-body">
        <h3>Добавление нового рецепта</h3>
        @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <div class="control-label col-md-2">Название</div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="control-label col-md-2">Описание</div>
                    <div class="col-md-10">
                        @*@Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })*@
                        <textarea cols="35" htmlattributes="{ class = form-control }" id="Description" name="Description" rows="4"></textarea>
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="control-label col-md-2">Изображение</div>
                    <div class="col-md-10">
                        <input type="file" id="recipePicture" name="recipePicture" accept="image/*" />
                        @Html.ValidationMessageFor(model => model.Picture, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="control-label col-md-2">Тип блюда</div>
                    <div class="col-md-10">
                        @Html.DropDownList("DishTypeId", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DishTypeId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="recipe-steps" id="recipeSteps">
                    @Html.Partial("_RecipeStepCreate")
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                    <div class="btn-group btn-group-sm">
                        @Ajax.ActionLink("Добавить шаг", "RecipeStep", null, new AjaxOptions()
                        {
                            HttpMethod = "POST",
                            UpdateTargetId = "recipeSteps",
                            InsertionMode = InsertionMode.InsertAfter,
                            OnSuccess = "OnAddRecipeStep(data)"
                        }, new { @class = "btn btn-sm btn-primary" })
                        <input type="submit" value="Добавить новый рецепт в базу" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>
    }
    </div>
</div>

<div>
    @Html.AuthorizeActionLink("Назад на главную", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="@Url.Content("~/Scripts/add-recipes.js")" type="text/javascript"> </script>
}
