@model AspRecipeStorage.Models.Recipe

@{
    ViewBag.Title = "Редактирование рецепта";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-body">
        <h3>Добавление нового рецепта</h3>
        @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.AuthorId)
            @Html.HiddenFor(model => model.PictureId)
            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)
                <div class="form-group">
                    <div class="control-label col-md-2">Название</div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="control-label col-md-2">Описание</div>
                    <div class="col-md-10">
                        @*@Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })*@
                        <textarea cols="35" class = "form-control" id="Description" name="Description" rows="4">@Model.Description</textarea>
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="control-label col-md-2">Изображение</div>
                    <div class="col-md-10">
                        @if (Model.Picture != null)
                        {                           
                            <i>@("Изображение уже загружено. Новое изображение заменит существующее.")</i>                            
                            <div class="list-group">
                                <div class=" list-group-item">
                                    <div class="row-picture">
                                        @Base64imgPrerender(Model.Picture == null ? null : Model.Picture.Data, "circle")
                                    </div>
                                </div>
                            </div>
                            <br/>
                        }
                        <input type="file" id="recipePicture" name="recipePicture" accept="image/*" />
                        @Html.ValidationMessageFor(model => model.Picture, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="control-label col-md-2">Тип блюда</div>
                    <div class="col-md-10">
                        @Html.DropDownList("DishTypeId", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DishTypeId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="recipe-steps" id="recipeSteps">
                    @foreach(var step in Model.RecipeStep)
                    {
                        @Html.Partial("_RecipeStepCreate", step)
                    }
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="btn-group btn-group-sm">
                            @Ajax.ActionLink("Добавить шаг", "RecipeStep", null, new AjaxOptions()
                            {
                                HttpMethod = "POST",
                                UpdateTargetId = "recipeSteps",
                                InsertionMode = InsertionMode.InsertAfter,
                                OnSuccess = "OnAddRecipeStep(data)"
                            }, new { @class = "btn btn-sm btn-primary" })
                            <input type="submit" value="Сохранить" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div>
    @Html.AuthorizeActionLink("Назад на главную", "Index")
</div>

@helper Base64imgPrerender(byte[] imageByteData, string imgclass)
{
    string imageDataURL;
    if (imageByteData != null)
    {
        string imageBase64Data = Convert.ToBase64String(imageByteData);
        imageDataURL = string.Format("data:image/png;base64,{0}", imageBase64Data);

    }
    else
    {
        imageDataURL = @"data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGRlZnMvPjxyZWN0IHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjE0IiB5PSIzMiIgc3R5bGU9ImZpbGw6I0FBQUFBQTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxMHB0O2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjY0eDY0PC90ZXh0PjwvZz48L3N2Zz4=";
    }
    <img class="@imgclass" src="@imageDataURL" alt="step">
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="@Url.Content("~/Scripts/jquery-ui-1.11.4.js")" type="text/javascript"> </script>
}
