@using GridMvc.Html
@using AspRecipeStorage.Models
@model IOrderedQueryable<AspRecipeStorage.Models.Recipe>

@{
    ViewBag.Title = "База рецептов";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />

<div class="row">
    <div class="col col-lg-2">
        @using ( Html.BeginForm("FilterIndex","Recipes", FormMethod.Get) ) {
            <input class="hidden" name="userId" value="@ViewBag.UserId" />
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="pull-right">
                        <input type="checkbox" class="dish-type-filter-all">
                    </div>
                    <div>Типы блюд</div>
                </div>
                <div class="panel-body">
                    @foreach (CheckBoxItem item in ViewBag.DishTypes)
                    {
                        <div>
                            <input type="checkbox" class="dish-type-filter" name="dishTypeFilter" value="@item.Id" checked="@item.Selected" />
                            @item.Name
                        </div>
                    }
                </div>
            </div>
            <div class="panel panel-primary hidden">
                <div class="panel-heading">
                    <div class="pull-right">
                        <input type="checkbox" class="ingridients-filter-all">
                    </div>
                    <div>
                        Ингридиенты
                    </div>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <input type="submit" class="btn btn-sm btn-default pull-right" value="Применить" style="width:100%">
        </div>
    </div>
        }
                </div>
                <div class="col col-lg-10">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            @Html.AuthorizeActionLink("Добавить свой рецепт", "Create", "Recipes", null, new { @class = "btn btn-sm btn-default" })
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body" id="recipetableholder">
                            @Html.Grid(Model, "_MainPageFilters").Columns(columns =>
                {
                    columns.Add(i => i.Name).Titled("Название").Sanitized(false).Encoded(false).Sortable(true).Filterable(true);
                    columns.Add(i => i.User.UserName).Titled("Автор").Sanitized(false).Encoded(false).Sortable(true).Filterable(true);
                }).WithPaging(10)
        @Html.Grid(Model, new GridRenderOptions("grid", "_MainPageGrid")).Columns(columns =>
                {
                    columns.Add(i => i.Id).Sanitized(false).Encoded(false).RenderValueAs(cell => RecipePenderer(cell));
            columns.Add(i => i.Name).RenderValueAs(c => @<div class="hidden"/>).Titled("Название").Sanitized(false).Encoded(false).Sortable(true).Filterable(true);
            columns.Add(i => i.User.UserName).RenderValueAs(c => @<div class="hidden" />).Titled("Автор").Sanitized(false).Encoded(false).Sortable(true).Filterable(true);
                }).WithPaging(10)
                        </div>
                    </div>
                </div>
            </div>

            @helper RecipePenderer(Recipe recipe)
{
            <div class="panel panel-default panel-recipe">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-5">Автор: @Html.AuthorizeActionLink(recipe.User.UserName, "Index", new { id = recipe.AuthorId }, null) | @recipe.DishType.Name : @recipe.Name</div>
                        <div class="col-lg-3 pull-right">
                            <div class="pull-right btn-group btn-group-xs">
                                @Html.AuthorizeActionLink("Редактировать", "Edit", new { id = recipe.Id }, new { @class = "btn btn-default" })
                                @Html.AuthorizeActionLink("Удалить", "Delete", new { id = recipe.Id }, new { @class = "btn btn-default" })
                            </div>
                        </div>
                    </div>
                    <hr class="hr-recipe" />
                    <div class="row">
                        <div class="col-md-8">
                            <p>@recipe.Description</p>
                        </div>
                        <div class="col-md-4">
                            @Base64imgPrerender(recipe.Picture)
                        </div>
                    </div>
                    <hr class="hr-recipe" />
                    <div class="row">
                        <div class="col-md-9">
                            <p>Ингридиенты:</p>
                        </div>
                        <div class="col-md-3">
                    <p>Время приготовления: @recipe.Time мин.</p>
                        </div>
                    </div>
                    @Html.AuthorizeActionLink("Подробнее", "Details", new { id = recipe.Id }, new { @class = "btn btn-xs btn-default" })
                </div>
            </div>
}

            @helper Base64imgPrerender(byte[] imageByteData)
{
    string imageDataURL;
    if (imageByteData != null)
    {
        string imageBase64Data = Convert.ToBase64String(imageByteData);
        imageDataURL = string.Format("data:image/png;base64,{0}", imageBase64Data);

    }
    else
    {
        imageDataURL = @"data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGRlZnMvPjxyZWN0IHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjE0IiB5PSIzMiIgc3R5bGU9ImZpbGw6I0FBQUFBQTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxMHB0O2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjY0eDY0PC90ZXh0PjwvZz48L3N2Zz4=";
    }
    <img class="gridimage media-object" src="@imageDataURL" alt="recipe image">
}

            @section Scripts {
                <script src="@Url.Content("~/Scripts/gridmvc.min.js")" type="text/javascript"> </script>
                <script src="@Url.Content("~/Scripts/recipes.js")" type="text/javascript"> </script>
            }
