@using GridMvc.Html
@using AspRecipeStorage.Models
@model IOrderedQueryable<AspRecipeStorage.Models.Recipe>

@{
    ViewBag.Title = "База рецептов";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />

<div class="row">
    <div class="col col-lg-2">
        @using ( Html.BeginForm("FilterIndex","Recipes", FormMethod.Get) ) {
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="pull-right">
                        <input type="checkbox" class="dish-type-filter-all">
                    </div>
                    <div>Типы блюд</div>
                </div>
                <div class="panel-body">
                    @foreach (CheckBoxItem item in ViewBag.DishTypes)
                    {
                        <input type="checkbox" class="dish-type-filter" name="dishTypeFilter" value="@item.Id" checked="@item.Selected"/>
                        @item.Name
                    }
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="pull-right">
                        <input type="checkbox" class="ingridients-filter-all">
                    </div>
                    <div>
                        Ингридиенты
                    </div>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
            <input type="submit" class="btn btn-sm btn-default pull-right" value="Применить фильтры">
        }
        @Html.ActionLink("Добавить свой рецепт", "Create", "Recipes", null, new { @class = "btn btn-sm btn-default" })
    </div>
    <div class="col col-lg-10">
        @Html.Grid(Model, "_MainPageFilters").Columns(columns =>
        {
            columns.Add(i => i.Name).Titled("Название").Sanitized(false).Encoded(false).Sortable(true).Filterable(true);
            columns.Add(i => i.User.UserName).Titled("Автор").Sanitized(false).Encoded(false).Sortable(true).Filterable(true);
            columns.Add(i => i.RecipeStep.FirstOrDefault().Time).Titled("Время приготовления");
        }).WithPaging(10)
        @Html.Grid(Model, "_MainPageGrid").Columns(columns =>
        {
            columns.Add(i => i.Id).Sanitized(false).Encoded(false).RenderValueAs(cell => RecipePenderer(cell));
        }).WithPaging(10)
    </div>
</div>

@helper RecipePenderer(Recipe recipe)
{
    <div class="panel panel-default panel-recipe">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-5">[Автор: @recipe.User.UserName] @recipe.DishType.Name : @recipe.Name</div>
                <div class="col-lg-3 pull-right">
                    <div class="pull-right btn-group btn-group-xs">
                        @Html.ActionLink("Редактировать", "Edit", new { id = recipe.Id }, new { @class = "btn btn-default" })
                        @Html.ActionLink("Удалить", "Delete", new { id = recipe.Id }, new { @class = "btn btn-default" })
                    </div>
                </div>
            </div>
            <hr class="hr-recipe" />
            <div class="row">
                <div class="col-md-8">
                    <p>@recipe.Description</p>
                </div>
                <div class="col-md-4">
                    <img />
                </div>
            </div>
            <hr class="hr-recipe" />
            <div class="row">
                <div class="col-md-9">
                    <p>Ингридиенты:</p>
                </div>
                <div class="col-md-3">
                    <p>Время приготовления:</p>
                </div>
            </div>
            @Html.ActionLink("Подробнее", "Details", new { id = recipe.Id }, new { @class = "btn btn-xs btn-default" })
        </div>
    </div>
}

@section Scripts {
    <script src="@Url.Content("~/Scripts/gridmvc.min.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Scripts/recipes.js")" type="text/javascript"> </script>
}
