@model AspRecipeStorage.Models.MeasureConversion

@{
    ViewBag.Title = "Удаление соотношения мер";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-default">
    <div class="panel-body">
        <h3>Вы уверены что хотите удалить выбранное соотношение?</h3>
        <hr />
        <div>
            <dl class="dl-horizontal">
                <dt>Соотношение</dt>
                <dd>
                    1 &#xd7; @Html.DisplayFor(model => model.MeasureFirstType.Name) =
                    @Html.DisplayFor(model => model.Ratio) &#xd7;
                    @Html.DisplayFor(model => model.MeasureSecondType.Name)
                    ( @Html.DisplayFor(model => model.IngredientType.Name) )
                </dd>
            </dl> 
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Удалить" class="btn btn-sm btn-primary" /> |
                    @Html.ActionLink("Назад к списку", "Index")
                </div>
            }
        </div>
    </div>
</div>
