@model AspRecipeStorage.Models.MeasureConversion

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>MeasureConversion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ratio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ratio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MeasureSecondType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MeasureSecondType.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MeasureFirstType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MeasureFirstType.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IngredientType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IngredientType.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
