@model IEnumerable<AspRecipeStorage.Models.Instrument>

@{
    ViewBag.Title = "Список инструментов";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-body">
        <h3>@ViewBag.Title</h3>
        <hr />
        <p>
            @Html.AuthorizeActionLink("Добавить новый", "Create")
        </p>
        <table class="table">
            <tr>
                <th>Название</th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                string trClass = item.ForAllUsers ? "" : "warning";
                <tr class="@trClass">
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @if (item.ForAllUsers)
                        {
                            @Html.ActionLink("Скрыть", "ChangeVisibilityStatus", new { id = item.Id })
                        }
                        else
                        {
                            @Html.ActionLink("Для всех", "ChangeVisibilityStatus", new { id = item.Id })
                        } |
                        @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }) |
                        @*@Html.ActionLink("Details", "Details", new { id = item.Id }) |*@
                        @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </table>
    </div>
</div>